
*.argumenta

  // Header

  .header
    position: relative
    background-color: white
    padding: 2px 5px

  .header-logo
    font-family: Monda, sans-serif
    font-size: 2.0em
    text-decoration: underline
    color: #333

  .wrapper .column
    > h1, > h2, > h3, > h4, > h5, > h6
      darkGlass(0.6)
      pane()
      padding: 0.3em
