
*.argumenta

  // Header

  .header
    position: relative
    padding: 5px 5px
    font-size: 15px
    background-color: white

  .header-logo
    font-family: Monda, sans-serif
    font-size: 28px
    text-decoration: underline
    color: #333

  .main, .sidebar-contents
    > h1, > h2, > h3, > h4, > h5, > h6
      darkGlass(0.6)
      pane()
      padding: 0.3em
      margin: 10px 0
