
*.argumenta

  // Intro

  .intro
    background: linear-gradient(
      left,
      rgb(0, 204, 255) -10%,
      rgb(36, 0, 65) 40%,
      rgb(0, 44, 65) 60%,
      rgb(255, 0, 194) 110%
    )
    color: #fff
    margin: 0
    position: relative
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5)
    z-index: 0

  .intro canvas.stars
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -1

  .intro .tagline-container
    text-align: center

  .intro .tagline-container h1
    font-weight: bold

  .intro .audience
    cursor: pointer

  .intro .audience .placeholder
    visibility: hidden

  .intro .action
    padding: 7px
    font-size: 18px
    background: rgba(255,255,255,0.3)
    border-radius: 5px
    cursor: pointer
    transition-duration: 0.5s
    transition-property: background

  .intro .action:hover
    background: rgba(255,255,255,0.5)
    text-decoration: underline

  .intro .learn-more
    position: absolute
    right: 16.5%
    bottom: -3px

  .intro .intro-ribbon
    position: relative
    padding: 5px

  .intro .intro-panel
    position: relative
    padding: 10px

  .intro-panel .activity
    margin: 5px 0
    padding: 10px
    background: rgba(0,0,0,0.4)
    border-radius: 5px

  .intro-panel .activity-header
    margin: 10px

  .intro-panel .activity-header .glyphicon
    margin-right: 10px

  .intro-actions
    text-align: center
