
*.argumenta

  // Toolbar

  .toolbar, .toolbar a
    color: #fff
    text-shadow: 0 1px 1px rgba(0,0,0,0.3)

  .toolbar a:hover
    text-decoration: none

  .new-argument.button
    background: #222
    background: linear-gradient(top, #555, #000)

  .new-proposition.button
    background: hsl(209,90%,50%)
    background: linear-gradient(top, hsl(187,100%,49%), hsl(212,100%,38%))
