- var commitData = (typeof commit !== 'undefined') ? commit.data() : {}

.argument-widget('data-argument'=argument.data(),
                 'data-commit'=commitData,
                 'data-show_discussions'=argument.show_discussions)
  .argument-container
    .argument-main
      .argument-title.trebuchet.bold.shadowed= argument.title
      .argument-sha1
        a.light(href="/arguments/#{argument.sha1()}")= argument.sha1()
  .propositions-container
    each proposition, num in argument.premises
      - var index = num + 1;
      include proposition
    - var proposition = argument.conclusion;
    - var index = 'C';
    include proposition
