div.intro
  div.intro-ribbon
    canvas.stars
    div.tagline-container
      h1.tagline Social Argument Collaboration
      h2
        span.audience: span.placeholder ~
        span.learn-more.action Learn More
  div.intro-panel.argumenta-bootstrap
    canvas.stars
    div.row-fluid
      div.span4
        h4.activity-header
          span.glyphicon.glyphicon-list
          | Arguments &amp; Propositions
        div.activity
          | Create Arguments from Propositions &mdash; a series of premises
          | leading to a conclusion. 240 characters each!
      div.span4
        h4.activity-header
          span.glyphicon.glyphicon-bookmark
          | Support &amp; Dispute Tags
        div.activity
          | Use Support and Dispute Tags to link any proposition with a related
          | argument, establishing a chain of reasoning.
      div.span4
        h4.activity-header
          span.glyphicon.glyphicon-link
          | Citations
        div.activity
          | Citations link propositions with any external resource
          | via text, embedded media, or URLs.
    div.intro-actions
      if !username
        span.show-join.action Join!
