extends layout

block content
  if latest_repos
    h1 Latest Arguments
    div.content-pane
      each repo in latest_repos
        div.argument-widget(
          'data-argument'=repo.target.data(),
          'data-commit'=repo.commit.data(),
          'data-user'=repo.user.data(),
          'data-show_propositions'='true'
        )

block append sidebar
  if latest_users
    h2 Latest Users
    div.content-pane
      each user in latest_users
        div.user-widget('data-user'=user.data())
