extends layout

block content
  if latest_arguments
    h1 Latest Arguments
    div.content-pane
      each argument in latest_arguments
        div.argument-widget(
          'data-argument'=argument.data(),
          'data-show_propositions'='true'
        )

block append sidebar
  if latest_users
    h2 Latest Users
    div.content-pane
      each user in latest_users
        div.user-widget('data-user'=user.data())
