!!!
html
  head
    meta(charset="utf-8")
    title #{title ? title + ' | ' + siteName : siteName}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.argumenta
    a.header-logo(href="/")= siteName
    ul.nav-login
      li
        a(href="/login") Sign in
        |  or 
        a(href="/join") Join now!
    each message in messages
      div= "Message: " + message
    each error in errors
      div= "Error: " + error
    block content
