extends layout

block content

  h1 Login with your account!
  form.login(action="/login", method="post")
    ul
      li
        label Username
        input(name="username", value="")
      li
        label Password
        input(name="password", value="", type="password")
    button(type="submit") Login!
