
// Backgrounds

bgLinearGradient()
  background-image: -webkit-linear-gradient(arguments)
  background-image:    -moz-linear-gradient(arguments)
  background-image:     -ms-linear-gradient(arguments)
  background-image:      -o-linear-gradient(arguments)
  background-image:         linear-gradient(arguments)

bgRadialGradient()
  background-image: -webkit-radial-gradient(arguments)
  background-image:    -moz-radial-gradient(arguments)
  background-image:     -ms-radial-gradient(arguments)
  background-image:      -o-radial-gradient(arguments)
  background-image:         radial-gradient(arguments)


// Html

html
  height: 100%


// Body

body.argumenta
  margin: 0px
  padding: 0px
  height: 100%
  background-color: #000
  background-repeat: no-repeat
  bgRadialGradient top, hsl(200, 30%, 60%), #000

  .wrapper
    height: auto
    min-height: 100%
    min-width: 900px
    max-width: 950px
    margin: 0px auto
    background-image: url('/images/horiz-grad-bluegreen.png');
    background-image:
      linear-gradient(left, rgba(135, 251, 234, 0.5), rgba(61, 116, 194, 0.5))
    , url("/images/dark-stripes.svg");


// Argumenta Namespace

*.argumenta


  // Simple css reset

  *
    margin: 0px
    padding: 0px
    border: 0px

  *
    box-sizing: border-box


  // Colors

  jade = #0c3
  ruby = #d06
  aluminum = #eee


  // Gradients

  ivoryGradient()
    bgLinearGradient top, #fff, #fff, #ddd

  ebonyGradient()
    bgLinearGradient top, #888, #000, #000


  // Mixins

  bg(color)
    background-color: color

  frame(size, color)
    border: size solid color

  rounded(r=5px)
    border-radius: r

  darkGlass(alpha=0.5)
    background: rgba(0, 0, 0, alpha)
    color: #fff

  lightGlass(alpha=0.3)
    background: rgba(255, 255, 255, alpha)

  shadow(offset=2px, blur=2px, color=#aaa)
    box-shadow: offset offset blur color

  textShadow(offset=1px, blur=0px, color=#aaa)
    text-shadow: offset offset blur color


  // Styles

  light-form()
    bg(aluminum)
    frame(10px, #fff)
    rounded(5px)
    shadow(2px, 2px, #444)

  light-input()
    shadow(1px, 1px, #ccc)
    rounded(2px)

  button()
    rounded()
    shadow(1px, 2px)
    color: #fff

  blue-button()
    button()
    bg(#06d)

  ruby-button()
    button()
    bg(ruby)

  ebony-button()
    button()
    bg(#222)

  ivory-button()
    button()
    bg(#f6f6f6)
    color: #222

  form-style = light-form
  input-style = light-input
  button-style = ebony-button


  // Elements

  form
    form-style()
    margin: 10px
    padding: 10px

  input, textarea
    input-style()
    margin: 5px
    padding: 3px
    border: 1px solid #fff

  input:focus, textarea:focus
    outline: none
    border: 1px solid #2af
    shadow(0px, 3px, #08f)

  label
    margin: 5px

  button
    button-style()
    font-weight: bold
    margin: 5px
    padding: 5px

  button:hover
    textShadow(0px, 4px, #fff)

  ul
    list-style: none


  // Classes

  .button
    button-style()
    shadow(1px, 2px, #333)
    line-height: 2.2em
    margin: 5px
    padding: 5px

  .button:hover
    textShadow(0px, 4px, #fff)

  .toolbar
    lightGlass()
    padding: 5px

  .column
    width: 49.5%

  pane()
    rounded(5px)
    margin: 5px
    padding: 5px

  .title-pane
    darkGlass(0.6)
    pane()

    a
      color: #5af

  .content-pane
    lightGlass()
    pane()

    .title-pane, .content-pane
      margin: 0px

  .inline-block
    display: inline-block

  .relative
    position: relative

  .wrap
    border: 0px
    margin: 0px
    padding: 0px

  // Typography

  font: 14px "Monda", "Lucida Grande", Helvetica, Arial, sans-serif

  // Fix for font-size inheritance
  button, input, select, textarea
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif
    font-size: 100%

  a
    color: #08F
    text-decoration: none

  h1, h2, h3, h4, h5, h6
    font-weight: normal
    margin: 5px 0

  h1
    font-size: 1.8em
  h2
    font-size: 1.5em
  h3
    font-size: 1.4em
  h4
    font-size: 1.3em
  h5
    font-size: 1.2em
  h6
    font-size: 1.1em


  // Header

  .header
    background-color: white
    padding: 2px 5px

  .header-logo
    font-family: Monda, sans-serif
    font-size: 2.0em
    text-decoration: underline
    color: #333

  .wrapper
    > h1, > h2, > h3, > h4, > h5, > h6
      darkGlass()
      pane()
      padding: 0.3em


  // Nav

  .nav-login, .nav-logout
    float: right
    color: #999


  // Join

  form.join
    display: inline-block
    text-align: center

    li
      text-align: right


  // Login

  form.login
    display: inline-block
    text-align: center

    *
      margin-left: auto
      margin-right: auto

    label
      display: inline-block
      width: 70px


  // New Argument

  .new-argument
    min-width: 450px
    max-width: 600px
    width: 100%

  form.edit
    border: 5px solid #fff
    color: #333
    margin: 5px
    padding: 0px
    text-align: center

    .premise, .title, .conclusion
      text-align: left

      label
        display: inline-block
        margin: 0px
        width: 75px
        text-align: right
        vertical-align: middle

      textarea
        vertical-align: middle
        width: 295px
        min-height: 3em
        resize: none !important

      .counter
        color: #aaa
        color: rgba(0, 0, 0, 0.3)
        font-weight: bold
        font-size: 20px
        position: absolute
        bottom: 2px
        right: 7px

      .warning
        color: #333
        color: rgba(0, 0, 0, 0.6)

      .exceeded
        color: #d06

      .buttons
        margin: 0px -7px
        display: inline-block

      .addPremise, .removePremise
        rounded(5)
        color: #fff
        font-weight: bold
        margin: 0px
        padding: 5px 0px
        width: 1.3em

      .addPremise
        background: #08f

      .removePremise
        background: #f06
