*.argumenta {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*.argumenta * {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
*.argumenta form {
  background-color: #eee;
  border: 10px solid #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #aaa;
  margin: 10px;
  padding: 10px;
}
*.argumenta input {
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 2px;
  margin: 5px;
  padding: 3px;
  border: 1px solid #fff;
}
*.argumenta input:focus {
  outline: none;
  border: 1px solid #2af;
  box-shadow: 0px 0px 3px #08f;
}
*.argumenta label {
  margin: 5px;
}
*.argumenta button {
  border-radius: 5px;
  box-shadow: 1px 1px 2px #aaa;
  color: #fff;
  background-color: #222;
  margin: 5px;
  padding: 5px;
}
*.argumenta button:hover {
  text-shadow: 0px 0px 4px #fff;
}
*.argumenta ul {
  list-style: none;
}
*.argumenta button,
*.argumenta input,
*.argumenta select,
*.argumenta textarea {
  font-size: 100%;
}
*.argumenta a {
  color: #08f;
  text-decoration: none;
}
*.argumenta h1,
*.argumenta h2,
*.argumenta h3,
*.argumenta h4,
*.argumenta h5,
*.argumenta h6 {
  font-weight: bold;
}
*.argumenta h1 {
  font-size: 1.8em;
}
*.argumenta h2 {
  font-size: 1.5em;
}
*.argumenta h3 {
  font-size: 1.4em;
}
*.argumenta h4 {
  font-size: 1.3em;
}
*.argumenta h5 {
  font-size: 1.2em;
}
*.argumenta h6 {
  font-size: 1.1em;
}
*.argumenta .header-logo {
  font-family: sans-serif;
  font-size: 2em;
  text-decoration: underline;
  color: #333;
}
*.argumenta .nav-login,
*.argumenta .nav-logout {
  float: right;
  color: #999;
}
*.argumenta form.join {
  display: inline-block;
  text-align: center;
}
*.argumenta form.join li {
  text-align: right;
}
*.argumenta form.login {
  display: inline-block;
  text-align: center;
}
*.argumenta form.login * {
  margin-left: auto;
  margin-right: auto;
}
*.argumenta form.login label {
  display: inline-block;
  width: 70px;
}
