*.argumenta * {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
*.argumenta * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body.argumenta {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #000;
  background-image: url("/images/linear-gradient-vert.png");
  background-repeat: repeat-x;
}
body.argumenta .wrapper {
  height: auto;
  min-height: 100%;
  min-width: 900px;
  max-width: 950px;
  margin: 0px auto;
  background-image: url("/images/horiz-grad-bluegreen.png");
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(135,251,234,0.5)), color-stop(1, rgba(61,116,194,0.5))), url("/images/dark-stripes.svg");
  background-image: -webkit-linear-gradient(left, rgba(135,251,234,0.5) 0%, rgba(61,116,194,0.5) 100%), url("/images/dark-stripes.svg");
  background-image: -moz-linear-gradient(left, rgba(135,251,234,0.5) 0%, rgba(61,116,194,0.5) 100%), url("/images/dark-stripes.svg");
  background-image: -o-linear-gradient(left, rgba(135,251,234,0.5) 0%, rgba(61,116,194,0.5) 100%), url("/images/dark-stripes.svg");
  background-image: -ms-linear-gradient(left, rgba(135,251,234,0.5) 0%, rgba(61,116,194,0.5) 100%), url("/images/dark-stripes.svg");
  background-image: linear-gradient(left, rgba(135,251,234,0.5) 0%, rgba(61,116,194,0.5) 100%), url("/images/dark-stripes.svg");
}
body.argumenta .main {
  padding: 0 10px;
}
body.argumenta .sidebar-contents {
  padding: 0 5px;
}
body.argumenta .footer {
  display: none;
  background: #333;
  border-top: 3px solid #0ef;
  color: #eee;
  font-size: 16px;
  padding: 20px 10px;
  text-align: center;
}
body.argumenta .footer a {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  margin: 15px;
  color: #ccc;
}
body.argumenta .footer a:hover {
  color: #fff;
}
*.argumenta form {
  background-color: #eee;
  border: 10px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #444;
  box-shadow: 2px 2px 2px #444;
  margin: 10px;
  padding: 10px;
}
*.argumenta form input {
  height: 2em;
}
*.argumenta form input,
*.argumenta form textarea {
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 5px;
  padding: 3px;
  border: 1px solid #fff;
}
*.argumenta form input:focus,
*.argumenta form textarea:focus {
  outline: none;
  border: 1px solid #2af;
  -webkit-box-shadow: 0px 0px 3px #08f;
  box-shadow: 0px 0px 3px #08f;
}
*.argumenta label {
  margin: 5px;
}
*.argumenta button {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px #aaa;
  box-shadow: 1px 1px 2px #aaa;
  color: #fff;
  background-color: #222;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}
*.argumenta button:hover {
  text-shadow: 0px 0px 4px #fff;
}
*.argumenta ul {
  list-style: none;
}
*.argumenta .button {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px #aaa;
  box-shadow: 1px 1px 2px #aaa;
  color: #fff;
  background-color: #222;
  -webkit-box-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
  line-height: 2.2em;
  margin: 5px;
  padding: 5px;
}
*.argumenta .button:hover {
  text-shadow: 0px 0px 4px #fff;
}
*.argumenta .toolbar {
  background: rgba(255,255,255,0.3);
  padding: 5px;
}
*.argumenta .column {
  width: 49.5%;
}
*.argumenta .title-pane {
  background: rgba(0,0,0,0.6);
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
}
*.argumenta .title-pane a {
  color: #5af;
}
*.argumenta .content-pane {
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
}
*.argumenta .content-pane .title-pane,
*.argumenta .content-pane .content-pane {
  margin: 0px;
}
*.argumenta .content-panel {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 0px #777;
  box-shadow: 2px 2px 0px #777;
  background: #fff;
  margin: 10px 0px;
}
*.argumenta .inline-block {
  display: inline-block;
}
*.argumenta .relative {
  position: relative;
}
*.argumenta .wrap {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
*.argumenta .center {
  text-align: center;
}
*.argumenta .left {
  text-align: left;
}
*.argumenta .right {
  text-align: right;
}
*.argumenta {
  font-family: "Monda", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
*.argumenta button,
*.argumenta input,
*.argumenta select,
*.argumenta textarea {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
*.argumenta a {
  color: #08f;
  text-decoration: none;
}
*.argumenta h1,
*.argumenta h2,
*.argumenta h3,
*.argumenta h4,
*.argumenta h5,
*.argumenta h6 {
  font-weight: normal;
  margin: 5px 0;
}
*.argumenta h1 {
  font-size: 1.8em;
}
*.argumenta h2 {
  font-size: 1.5em;
}
*.argumenta h3 {
  font-size: 1.4em;
}
*.argumenta h4 {
  font-size: 1.3em;
}
*.argumenta h5 {
  font-size: 1.2em;
}
*.argumenta h6 {
  font-size: 1.1em;
}
*.argumenta p {
  margin: 10px 0px;
}
*.argumenta .header {
  position: relative;
  background-color: #fff;
  padding: 5px 5px;
}
*.argumenta .header-logo {
  font-family: Monda, sans-serif;
  font-size: 2em;
  text-decoration: underline;
  color: #333;
}
*.argumenta .main > h1,
*.argumenta .sidebar-contents > h1,
*.argumenta .main > h2,
*.argumenta .sidebar-contents > h2,
*.argumenta .main > h3,
*.argumenta .sidebar-contents > h3,
*.argumenta .main > h4,
*.argumenta .sidebar-contents > h4,
*.argumenta .main > h5,
*.argumenta .sidebar-contents > h5,
*.argumenta .main > h6,
*.argumenta .sidebar-contents > h6 {
  background: rgba(0,0,0,0.6);
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
  padding: 0.3em;
  margin: 10px 0;
}
*.argumenta .nav-login,
*.argumenta .nav-logout {
  position: absolute;
  margin: 10px 5px;
  margin-top: -8px;
  right: 0px;
  top: 50%;
  color: #999;
}
*.argumenta .intro {
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.1, #0cf), color-stop(0.4, #240041), color-stop(0.6, #002c41), color-stop(1.1, #ff00c2));
  background: -webkit-linear-gradient(left, #0cf -10%, #240041 40%, #002c41 60%, #ff00c2 110%);
  background: -moz-linear-gradient(left, #0cf -10%, #240041 40%, #002c41 60%, #ff00c2 110%);
  background: -o-linear-gradient(left, #0cf -10%, #240041 40%, #002c41 60%, #ff00c2 110%);
  background: -ms-linear-gradient(left, #0cf -10%, #240041 40%, #002c41 60%, #ff00c2 110%);
  background: linear-gradient(left, #0cf -10%, #240041 40%, #002c41 60%, #ff00c2 110%);
  color: #fff;
  margin: 0;
  position: relative;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  z-index: 0;
}
*.argumenta .intro canvas.stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
*.argumenta .intro .tagline-container {
  text-align: center;
}
*.argumenta .intro .tagline-container h1 {
  font-weight: bold;
}
*.argumenta .intro .audience .placeholder {
  visibility: hidden;
}
*.argumenta .intro .learn-more {
  position: absolute;
  right: 16.5%;
  bottom: -3px;
  padding: 7px;
  font-size: 18px;
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
}
*.argumenta .intro .learn-more:hover {
  background: rgba(255,255,255,0.5);
  text-decoration: underline;
}
*.argumenta .intro .intro-ribbon {
  position: relative;
  padding: 5px;
}
*.argumenta .intro .intro-panel {
  position: relative;
  padding: 10px;
}
*.argumenta .intro-panel .activity {
  margin: 5px 0;
  padding: 10px;
  background: rgba(0,0,0,0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
*.argumenta .intro-panel .activity-header {
  margin: 10px;
}
*.argumenta .intro-panel .activity-header .glyphicon {
  margin-right: 10px;
}
*.argumenta form.join {
  display: inline-block;
  text-align: center;
}
*.argumenta form.join li {
  text-align: right;
}
*.argumenta form.join label {
  display: inline-block;
}
*.argumenta form.login {
  display: inline-block;
  text-align: center;
}
*.argumenta form.login * {
  margin-left: auto;
  margin-right: auto;
}
*.argumenta form.login label {
  display: inline-block;
  width: 70px;
}
*.argumenta .new-argument {
  min-width: 450px;
  max-width: 600px;
  width: 100%;
}
*.argumenta form.edit {
  border: 5px solid #fff;
  color: #333;
  margin: 5px;
  padding: 0px;
  text-align: center;
}
*.argumenta form.edit .premise,
*.argumenta form.edit .title,
*.argumenta form.edit .conclusion {
  text-align: left;
}
*.argumenta form.edit .premise label,
*.argumenta form.edit .title label,
*.argumenta form.edit .conclusion label {
  display: inline-block;
  margin: 0px;
  width: 75px;
  text-align: right;
  vertical-align: middle;
}
*.argumenta form.edit .premise textarea,
*.argumenta form.edit .title textarea,
*.argumenta form.edit .conclusion textarea {
  vertical-align: middle;
  width: 295px;
  min-height: 3em;
  resize: none !important;
}
*.argumenta form.edit .premise .counter,
*.argumenta form.edit .title .counter,
*.argumenta form.edit .conclusion .counter {
  color: #aaa;
  color: rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 2px;
  right: 7px;
}
*.argumenta form.edit .premise .warning,
*.argumenta form.edit .title .warning,
*.argumenta form.edit .conclusion .warning {
  color: #333;
  color: rgba(0,0,0,0.6);
}
*.argumenta form.edit .premise .exceeded,
*.argumenta form.edit .title .exceeded,
*.argumenta form.edit .conclusion .exceeded {
  color: #d06;
}
*.argumenta form.edit .premise .buttons,
*.argumenta form.edit .title .buttons,
*.argumenta form.edit .conclusion .buttons {
  margin: 0px 0px;
  display: inline-block;
}
*.argumenta form.edit .premise .addPremise,
*.argumenta form.edit .title .addPremise,
*.argumenta form.edit .conclusion .addPremise,
*.argumenta form.edit .premise .removePremise,
*.argumenta form.edit .title .removePremise,
*.argumenta form.edit .conclusion .removePremise {
  -webkit-border-radius: 5;
  border-radius: 5;
  color: #fff;
  font-weight: bold;
  margin: 0px;
  padding: 5px 0px;
  width: 1.3em;
}
*.argumenta form.edit .premise .addPremise,
*.argumenta form.edit .title .addPremise,
*.argumenta form.edit .conclusion .addPremise {
  background: #08f;
}
*.argumenta form.edit .premise .removePremise,
*.argumenta form.edit .title .removePremise,
*.argumenta form.edit .conclusion .removePremise {
  background: #f08;
}
*.argumenta form.edit .sha1 {
  font-family: "Lucida Console", Monaco, "DejaVu Sans Mono", monospace;
  background: none;
}
*.argumenta .avatar {
  -webkit-box-shadow: 0px 0px 10px #111;
  box-shadow: 0px 0px 10px #111;
  border: 5px solid rgba(255,255,255,0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
