
*.argumenta

  // Classes

  .button
    button-style()
    shadow(1px, 2px, #333)
    line-height: 2.2em
    margin: 5px
    padding: 5px

  .button:hover
    textShadow(0px, 7px, #fff)

  .toolbar
    lightGlass()
    padding: 5px

  .column
    width: 49.5%

  .title-pane
    darkGlass(0.6)
    pane()

    a
      color: #5af

  .content-pane
    lightGlass()
    pane()

    .title-pane, .content-pane
      margin: 0px

  .content-panel
    pane()
    box-shadow: 2px 2px 0px #777
    background: #fff
    margin: 10px 0px

  .inline-block
    display: inline-block

  .relative
    position: relative

  .wrap
    border: 0px
    margin: 0px
    padding: 0px

  .center
    text-align: center

  .left
    text-align: left

  .right
    text-align: right
