
// Html

html
  height: 100%


// Body

body.argumenta
  margin: 0px
  padding: 0px
  height: 100%
  background-color: #000
  background-image: url('/images/linear-gradient-vert.png')
  background-repeat: repeat-x

  .wrapper
    height: auto
    min-height: 100%
    min-width: 900px
    max-width: 950px
    margin: 0px auto
    background-image: url('/images/horiz-grad-bluegreen.png');
    background-image:
      linear-gradient(left, rgba(135, 251, 234, 0.5), rgba(61, 116, 194, 0.5))
    , url("/images/dark-stripes.svg");

  .main
    padding: 0 10px

  .sidebar-contents
    padding: 0 5px

  .footer
    display: none
    background: #333
    border-top: 3px solid #0ef
    color: #eee
    font-size: 16px
    padding: 20px 10px
    text-align: center

  .footer a
    transition-duration: 0.5s
    transition-property: color
    margin: 15px
    color: #ccc

  .footer a:hover
    color: #fff
