
// Html

html
  height: 100%


// Body

body.argumenta
  margin: 0px
  padding: 0px
  height: 100%
  background-color: #000
  background-repeat: no-repeat
  bgRadialGradient top, hsl(200, 30%, 60%), #000

  .wrapper
    height: auto
    min-height: 100%
    min-width: 900px
    max-width: 950px
    margin: 0px auto
    background-image: url('/images/horiz-grad-bluegreen.png');
    background-image:
      linear-gradient(left, rgba(135, 251, 234, 0.5), rgba(61, 116, 194, 0.5))
    , url("/images/dark-stripes.svg");
