!!!
html
  head
    title #{title ? title + ' | ' + siteName : siteName}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if errors.length == 0 && messages.length == 0
      div= "No errors or messages."
    each message in messages
      div= "Message: " + message
    each error in errors
      div= "Error: " + error
    block content
