!!!
html
  head
    title #{title ? title + ' | ' + siteName : siteName}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.argumenta
    each message in messages
      div= "Message: " + message
    each error in errors
      div= "Error: " + error
    block content
